In [1]:
wikiEVDraw = readdlm("wikipediaEVD.csv", ',')

54×9 Array{Any,2}:
 "25 Nov 2015"   28.637   11.314  …   10.675    4.808   14.122    3.955
 "18 Nov 2015"   28.634   11.314      10.672    4.808   14.122    3.955
 "11 Nov 2015"   28.635   11.314      10.672    4.808   14.122    3.955
 "4 Nov 2015"    28.607   11.314      10.672    4.808   14.089    3.955
 "25 Oct 2015"   28.539   11.298      10.672    4.808   14.061    3.955
 "18 Oct 2015"   28.476   11.298  …   10.672    4.808   14.001    3.955
 "11 Oct 2015"   28.454   11.297      10.672    4.808   13.982    3.955
 "27 Sep 2015"   28.388   11.296      10.672    4.808   13.911    3.955
 "20 Sep 2015"   28.295   11.295      10.672    4.808   13.823    3.955
 "13 Sep 2015"   28.22    11.291      10.672    4.808   13.756    3.953
 "6 Sep 2015"    28.147   11.291  …   10.672    4.808   13.683    3.953
 "30 Aug 2015"   28.073   11.29       10.672    4.808   13.609    3.953
 "16 Aug 2015"   27.952   11.284      10.672    4.808   13.494    3.952
 ⋮                                ⋱    ⋮
 "9 Aug 2014"     1.835    1.011     599      323      730      315
 "30 Jul 2014"    1.437  825         391      227      574      252
 "23 Jul 2014"    1.201  672         249      129      525      224
 "14 Jul 2014"  982      613      …  174      106      397      197
 "2 Jul 2014"   779      481         115       75      252      101
 "17 Jun 2014"  528      337          33       24       97       49
 "27 May 2014"  309      202          12       11       16        5
 "12 May 2014"  260      182          12       11         "–"      "–"
 "1 May 2014"   239      160      …   13       11         "-"      "-"
 "14 Apr 2014"  176      110           8        2         "–"      "–"
 "31 Mar 2014"  130       82           8        2         "–"      "–"
 "22 Mar 2014"   49       29            "–"      "–"      "–"      "–"

In [2]:
DateTime(wikiEVDraw[1,1], "d u y")

2015-11-25T00:00:00

## For loops

In [3]:
for num = 3:7
    println("num is now $num")
end

values = [23, "my name is not a name", 'λ']
for x in values
    println("The value of x is now $x")
end

num is now 3
num is now 4
num is now 5
num is now 6
num is now 7
The value of x is now 23
The value of x is now my name is not a name
The value of x is now λ

In [4]:
col1 = wikiEVDraw[:,1]

54-element Array{Any,1}:
 "25 Nov 2015"
 "18 Nov 2015"
 "11 Nov 2015"
 "4 Nov 2015"
 "25 Oct 2015"
 "18 Oct 2015"
 "11 Oct 2015"
 "27 Sep 2015"
 "20 Sep 2015"
 "13 Sep 2015"
 "6 Sep 2015"
 "30 Aug 2015"
 "16 Aug 2015"
 ⋮
 "9 Aug 2014"
 "30 Jul 2014"
 "23 Jul 2014"
 "14 Jul 2014"
 "2 Jul 2014"
 "17 Jun 2014"
 "27 May 2014"
 "12 May 2014"
 "1 May 2014"
 "14 Apr 2014"
 "31 Mar 2014"
 "22 Mar 2014"

In [5]:
length(col1)

54

In [7]:
for i = 1:length(col1) #54
    col1[i] = DateTime(col1[i], "d u y")
end

In [8]:
println(col1[1])

2015-11-25T00:00:00

In [9]:
Dates.datetime2rata(col1[1]) #days from 1 st Jan of year 0001

735927

In [10]:
dayssincemar22(x) = Dates.datetime2rata(x) - Dates.datetime2rata(col1[54])
epidays = Array(Int64,54)
for i = 1:length(col1)
    epidays[i] = dayssincemar22(col1[i])
end

In [11]:
wikiEVDraw[:,1] = epidays
writedlm("wikipediaEVDdatesconverted.csv", wikiEVDraw, ',')